.boldText {
    font-weight: bold;
}

.dataTable-margin-top {
    margin-top: 1rem;
}

.jobtitlesFullDisplay {
    margin-top: 2rem;
}

.taskUpdateTitle {
    display: block;
    padding-bottom: 5px;
    padding-top: 20px;
    font-weight: bold;
}