.boldText {
    font-weight: bold;
}

.dataTable-margin-top {
    margin-top: 1rem;
}

.jobtitlesFullDisplay {
    margin-top: 2rem;
}

.modalValidateBtn-margin-top {
    margin-top: 1rem;
}

.taskUpdateTitle {
    display: block;
    padding-bottom: 5px;
    padding-top: 20px;
    font-weight: bold;
}

.textRed {
    color: red;
}

.lineThrough {
    text-decoration: line-through;
}

.marginBottom10 {
    margin-bottom: 10px;
}

.marginBottom15 {
    margin-bottom: 15px;
}